<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= player.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= player.name %></h1>
    <form action="/players/<%= player._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label><br>
        <input value="<%= player.name %>" type="text" name="name" id="name"><br>

        <label for="bats">Bats:</label><br>
        <select name="bats" id="bats">
            <option value="Left" <%= player.bats === "Left" ? "selected" : "" %>>Left</option>
            <option value="Right" <%= player.bats === "Right" ? "selected" : "" %>>Right</option>
            <option value="Switch" <%= player.bats === "Switch" ? "selected" : "" %>>Switch</option>
        </select><br>

        <label for="position">Position:</label><br>
        <select name="position" id="position">
            <option value="first-base" <%= player.position === "first-base" ? "selected" : "" %>>first-base</option>
            <option value="second-base" <%= player.position === "second-base" ? "selected" : "" %>>second-base</option>
            <option value="third-base" <%= player.position === "third-base" ? "selected" : "" %>>third-base</option>
            <option value="short stop" <%= player.position === "short stop" ? "selected" : "" %>>short stop</option>
            <option value="catcher" <%= player.position === "catcher" ? "selected" : "" %>>catcher</option>
            <option value="out-field" <%= player.position === "out-field" ? "selected" : "" %>>out-field</option>
        </select><br>

        <label for="starting">Starter:</label><br>
        <input type="checkbox" name="starting" id="starting" <% if (player.starting) { %>checked<% } %>><br>

        <button type="submit">Edit Player</button>
    </form>
</body>
</html>