<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= player.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= player.name %> Info</h1>
    <p>Bats: <%= player.bats %></p>
    <p>Position: <%= player.position %></p>
    <p>Starter: <%= player.starting %></p>
</body>
</html>