<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Team</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Create a New Team</h1>
    <form action="/teams" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="name"><br>

        <label for="city">City:</label><br>
        <input type="text" name="city" id="city"><br>

        <label for="stadium">Stadium:</label><br>
        <input type="text" name="stadium" id="stadium"><br>

        <label for="players">Players:</label><br>
        <select name="players" id="players" multiple>
            <% players.forEach(player => { %>
             <option value="<%= player._id %>"><%= player.name %> (<%= player.position %>)</option>
            <% }) %>
        </select><br>

        <label for="pitchers">Pitchers:</label><br>
        <select name="pitchers" id="pitchers" multiple>
            <% pitchers.forEach(pitcher => { %>
             <option value="<%= pitcher._id %>"><%= pitcher.name %></option>
            <% }) %>
        </select><br>

        <button type="submit">Create Team</button>
    </form>
</body>
</html>