<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pitcher.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= pitcher.name %> Info</h1>
    <p>Throws: <%= pitcher.throws %></p>
    <p>Types of pitches <%= pitcher.name %> can throw: <%= pitcher.pitches %></p>
    <p>Starter: <%= pitcher.starting %></p>
</body>
</html>